<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To The Music Academy</title>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    style
        include ../style.css
</head>
<body>
    <div id="navbar">
        <a href="./"><img src="/img/logo.png" alt="error loading"></a>
        <ul>
            <li class="item"><a href="./">Home</a></li>
            <li class="item"><a href="#about">About</a></li>
            <li class="item"><a href="#services">Services</a></li>
            <li class="item"><a href="./contact">Contact</a></li>
            
            
            <a href="tel:9348618570"><button class="btn">Call Us</button></a>
            <a href="mailto:jana.subham134@gmail.com"><button class="btn">Email Now</button></a>
        </ul>
        </div>

        <section id="contact">
            <h1>Contact Us</h1>
            <form action="/form" method="post" id="form">
                <input type="text" name="name" id="myname" placeholder="Enter Your Name">
                <input type="text" name="age" id="myage" placeholder="Enter Your Age">
                <input type="email" name="email" id="myemail" placeholder="Enter Your email">
                <textarea name="address" id="address" cols="30" rows="6" placeholder="Enter Your Address"></textarea>
                <button id="btn2">Submit</button>
            </form>
        </section>

    <section id="about">
        <h1>About Us <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi magni doloremque delectus tempora ex aperiam illo est sunt nesciunt exercitationem facilis, amet ut accusantium, nulla debitis! Blanditiis iusto delectus, aspernatur veniam velit odio architecto sed atque deserunt inventore dignissimos officia.</p></h1>
    </section>

    <section id="footer">
        <p> countryclubmusic.com &copy; 2022. All rights reserved. </p>
    </section>
</body>
</html>    