<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome To The Music Academy</title>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    style
        include ../style.css
</head>
<body>
    <div id="navbar">
        <a href="./"><img src="/img/logo.png" alt="error loading"></a>
        <ul>
            <li class="item"><a href="./">Home</a></li>
            <li class="item"><a href="#about">About</a></li>
            <li class="item"><a href="#services">Services</a></li>
            <li class="item"><a href="./contact">Contact</a></li>
            
            
            <a href="tel:9348618570"><button class="btn">Call Us</button></a>
            <a href="mailto:jana.subham134@gmail.com"><button class="btn">Email Now</button></a>
        </ul>
    </div>
    <section id="introsection">
        <h1>Welcome To The Country Club</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et quas libero rem dolorum molestiae vitae vel architecto cum atque! Iure facilis, placeat voluptatibus vel distinctio aliquam nihil veniam in nesciunt.</p>
    </section>

    <section id="services">
        <h1>Our Services</h1>
        <h4 id="theory">Music Theory <hr><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, aspernatur adipisci nostrum cupiditate delectus exercitationem totam consequuntur libero itaque molestias.</p></h4>
        <h4 id="guitar">Guitar Lesson <hr><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, aspernatur adipisci nostrum cupiditate delectus exercitationem totam consequuntur libero itaque molestias.</p></h4>
        <h4 id="piano">Piano Lesson <hr><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, aspernatur adipisci nostrum cupiditate delectus exercitationem totam consequuntur libero itaque molestias.</p></h4>
    </section>

    <section id="client">
        <h1>Our Clients</h1>
        <hr>
        <div id="item">
        <img src="/img/client1.png" alt="error loading">
        <img src="/img/client2.png" alt="error loading">
        <img src="/img/client3.png" alt="error loading">
        <img src="/img/client4.png" alt="error loading">
    </div>
        <hr>
    </section>

    <section id="about">
        <h1>About Us <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Exercitationem consequatur, laborum soluta deleniti porro enim architecto excepturi saepe consectetur perspiciatis, at eos officiis quis eius nam expedita unde asperiores non. Quo iste eos aliquid cum dolorem, dolores architecto aspernatur ratione.</p></h1>
    </section>

    <section id="footer">
        <p> countryclubmusic.com &copy; 2022. All rights reserved. </p>
    </section>
</body>
</html>